{{define "main"}}
<main>
    <article>
        <div class="max-w-5xl mx-auto prose dark:prose-invert dark:text-white not-prose">
            <header>
                {{ with .Params.featured_image }}
                <div class="flex px-6 mx-auto my-8 max-w-7xl">
                    {{ with resources.Get . }}
                    {{ $small := (.Resize "400x webp q100").RelPermalink }}
                    {{ $medium := (.Resize "550x webp q100").RelPermalink }}
                    {{ $large := (.Resize "900x webp q100").RelPermalink }}
                    {{ $featuredimage := (.Resize "1500x webp q100").RelPermalink }}
                    <img src="{{ $featuredimage }}"
                         srcset=" {{- with $small -}}, {{.}} 400w{{- end -}}{{- with $medium -}}, {{.}} 550w{{- end -}}{{- with $large -}}, {{.}} 768w{{- end -}}{{- with $featuredimage -}}, {{.}} 1100w{{- end -}}"
                         class="object-fill overflow-hidden rounded-lg shadow-lg ring-4 ring-black/40 dark:ring-gray-800/40 shadow-gray-800/20 dark:shadow-gray-800/40"
                         width="100%" alt="{{ .Params.title }}" />
                    {{ end }}
                </div>
                {{ end }}
                {{ with .Title }}
                <h1
                    class="px-6 text-3xl font-black leading-tight text-center text-gray-900 dar:text-white lg:text-6xl drop-shadow-lg lg:flex-row lg:items-center dark:text-gray-300">
                    {{- . -}}
                </h1>
                <hr class="w-48 h-1 mx-auto my-4 bg-gray-400 border-0 rounded md:my-10 dark:bg-gray-800">
                {{ end }}
            </header>
            <div class="max-w-5xl px-6 mx-auto">
                {{.Content}}
            </div>
        </div>
    </article>
</main>
{{end}}