<div class="mx-auto text-gray-900 max-w-screen-2xl dark:text-gray-50">
    <div class="px-4 not-prose">
        <div class="grid gap-4 mx-auto mt-12 mb-4 lg:max-w-none md:grid-cols-3">
            {{ range .Paginator.Pages }}
            <div class="flex flex-col shadow-lg rounded-2xl rounded-b-2xl group">
                <a href="{{.Permalink}}">
                    {{ with .Params.featured_image }}
                    {{ with resources.Get . }}
                    {{ $postimage := (.Resize "500x webp q90").RelPermalink }}
                    <img src="{{ $postimage }}" class="object-cover w-full overflow-hidden rounded-t-2xl" width="491" height="212"
                         loading="lazy" alt="{{ .Title }}" />
                    {{ end }}
                    {{ end }}
                </a>
                <div class="flex-1 p-6 bg-white max-w-content rounded-b-2xl">
                    <h3
                        class="block mt-2 text-2xl font-black text-gray-900 dark:text-gray-900 hover:text-primary-600 dark:hover:text-primary-600 hover:underline">
                        <a href="{{.Permalink}}">
                            {{.Title}}
                        </a>
                    </h3>
                    <p class="mt-3 text-base text-gray-900 dark:text-gray-900">
                        {{ .Params.summary }}
                    </p>
                    <div class="mt-3 font-black text-black">Tags:</div>
                    <div class="max-w-full pt-2 text-sm font-medium text-gray-900">
                        {{ range $k, $v := .GetTerms "tags" }}
                        {{- if $k }} {{ end }}
                        <a href="{{ .Permalink }}" class="inline-flex">
                            <p
                               class="rounded-md bg-primary-600 hover:bg-primary-800 px-2 py-0.5 text-sm font-medium text-white capitalize  mr-0.5 my-0.5">
                                {{ .LinkTitle }}
                            </p>
                        </a>
                        {{- end }}
                    </div>
                    <div class="flex items-center mt-6">
                        <div class="flex-shrink-0">
                            <span class="sr-only">{{ .Params.author }}</span>
                            {{ with .Params.authorimage }}
                            {{ with resources.Get . }}
                            {{ $authorimage := (.Resize "40x webp q100").RelPermalink }}
                            <img class="w-10 h-10 rounded-full" src="{{ $authorimage }}" alt="Jeremy Nusser" width="40"
                                 height="40">
                            {{ end }}
                            {{ end }}
                        </div>
                        <div class="pt-1 ml-3">
                            <p class="text-sm font-medium text-gray-900">
                                {{ .Params.Author }}
                            </p>
                            <div class="flex space-x-1 text-sm text-black">
                                <time datetime="2020-02-12">{{.Date.Format "2006-01-02"}}</time>
                                <span aria-hidden="true">&middot;</span>
                                <span>{{ math.Round (div (countwords .Content) 220.0) }}
                                    min read</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>